{% extends 'layout.njk' %}

{% block head %}
    <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1 id="not-found">Página não encontrada!</h1>
    </div>
{% endblock %}