{% extends 'layout.njk' %}

{% block head %}
    <title>Sobre -
        {{ about.name }}</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <div id="logo">
            <img src="{{ about.logo }}" alt="Logo {{ about.name }}">
        </div>
        <h1>{{ about.name }}</h1>
        <p>{{ about.description }}</p>
        <ul>

            {% for tech in about.techs %}
                <li>
                    <img src="{{ tech.logo }}" alt="Logo {{ tech.name }}">
                    <p>{{ tech.name }}</p>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div class="links">

        {% for link in about.links %}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        {% endfor %}

    </div>

{% endblock %}