{% extends 'layout.njk' %}

{% block head %}
    <title>Cursos - Rocketseat</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Cursos</h1>
    </div>
    <section id="cards">

        {% for item in itens %}
            <div class="card" id="{{ item.id }}">
                <div class="card-image">
                    <img src="{{ item.logo }}" alt="Logo de {{ item.name }}">
                </div>
                <div class="card-content">
                    <p>{{ item.description }}</p>
                    <div class="card-info">
                        <p>{{ item.modules }}
                            Módulos</p>
                        <p class="card-price">{{ item.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

    <script src="scripts.js"></script>
{% endblock %}