{% extends 'layout.njk' %}

{% block head %}
    <title>Cursos - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Cursos</h1>
    </div>
    <section id="cards">

        {% for item in itens %}
            <div class="card" id="{{ item.id }}">
                <div class="card-image">
                    <img src="{{ item.logo }}" alt="Logo de {{ item.name }}">
                </div>
                <div class="card-content">
                    <p>{{ item.description }}</p>
                    <div class="card-info">
                        <p>{{ item.modules }}
                            Módulos</p>
                        <p class="card-price">{{ item.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
            <div class="buttons">
                <a class="max-modal">
                    <i class="material-icons">launch</i>
                </a>
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
{% endblock %}