<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Rocketseat</title>
        {% endblock %}

        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header class="links">
            <a href="/">Sobre</a>
            <a href="/courses">Cursos</a>
        </header>

        {% block content %}{% endblock %}
        <footer>
        <p>Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
        <p>Rocketseat © 2020 - Todos os direitos reservados</p>
        </footer>
    </body>

</html>